@font-face {
	font-family: "SairaCondensed";
	src: url("../fonts/SairaCondensed-Light.ttf");
}
html, body{
	width: 98vw;
	height: 98vh;
	font-family: 'SairaCondensed', Arial, sans-serif;
	font-size: 1em;
}
#graph{
	background-color: #ccc;
	width: 100%;
	height: 100%;
	min-height: 500px;
	flex: 80%;
}
.node{
	fill: #8f1f96de;
	stroke: #0000008c;
	stroke-width: 3px;
}
.link{
	fill: #777;
	stroke: #000;
	stroke-width: 3px;
}
#mainPanel{
	padding: 2% 10%;
}
#controls{
	flex: 20%;
}
header{
	padding: 0 10%;
}
.textNode{
	color: #ccc;
	font-size: 1.1em;
	background-color: #000: 
}
#numberOfNodes{
	width: 15%;
}
.horizontal-buttons{
	display: flex;
	margin: 15% auto;
}
.horizontal-buttons button{
	margin: 0 auto;
}
#loadFileContainer{
	padding: 0 0;
	margin: 0 auto;
}
.d-flex{
	display: flex;
}
.block-center{
	margin: 0 auto;
}
.alert{
	background-color: #62ff0038;
	border-radius: 8px;
	border: 2px #62ff00 solid;background-color: #62ff0038; 
}
.hidden{
	display: none
}